include ./label.jade

html
	head
		link(rel='stylesheet' type='text/css' href='style.css')
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
	body
		.top-header
			.container
				.title Benjamin Steephenson
				.paragraph I'm a software developer who loves making things happen. I work with Web and iOS technologies, but I'm all about #[b learning something new].
				//- .button Let's Create Something Awesome
				.links
					u.link About Me
					u.link Projects
					u.link Skills
					u.link Resume
					u.link Contact Me


		.page.about-page
			.title About Me
			.content
				.left 
					p.
						My name is Ben. I lived my whole life in New Jersey and moved up to Boston to study Computer Science and Math at Tufts University.
						I am currently a sophomore, and I'm looking for the right place to work as an intern next summer.
				.right
					img(src = "./background.png", height = '100px')
		.page
			.title Projects
			.content#ProjectsPage

		.page
			.title Skills
			.content#SkillsPage

		.page
			.title Skills (for technical people)
			.content
				ul
					li Java
						ul
							li Object Oriented Programming principles such as encapsulation, inheritance, and polymorphism
					li C++
						ul
							li Pointers and dynamic allocation
							li Memory management without a Garbage Collector
					li (a little) Haskell
						ul
							li Functional purity, using the IO Monad
							li Pattern matching, thinking in terms of recursion and expressions


		script(src="app.js")
