
html
	head
		link(rel='stylesheet' type='text/css' href='style.css')
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
		link(href="https://fonts.googleapis.com/css?family=Comfortaa", rel="stylesheet")

		title Benjamin Steephenson
		//- meta(name="viewport" content="width=600, initial-scale=1")
	body
		p hi! my name is ben
		p here are a few of my favorite things (in no particular order) :
		div.stuff
			div computer science
			div math
			div #[a(href="https://www.goodreads.com/user/show/5836895-benjamin") reading]
			div probability and statistics
			div web development
			div gospel choir
			div concerts
			div adventuring
			div scootering
			div running
			div twitter
			div #[a(href="https://github.com/bsteephenson/") writing code]
			div binge watching tv
			div systems programming
			div writing
			div public transportation
			div proofs
			div snapchat
			div being christian
			div recursion
			div history of math and cs
			div moody music
			div philosophy
			div coffee addiction
			div airplane mode
			div a biweekly existential crisis
			div TAing cs classes
			div oversharing on the internet and regretting it later
			div #[a(href="https://venmo.com/Benjamin-St") venmo]
			div naps
		p benjaminsteephenson [at] gmail.com

		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','http://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-68483191-1', 'auto');

